{% extends 'layout_auth_student.html' %}
{% block content %}

<main class="stuAcct">
    <div>
        <h1 class="home-h1">Hello, {{user.first_name}} {{user.last_name}}</h1>
    </div>
    <div class="stuAcct_button">
        <button><a href="/register">Register for Exam</a></button>
    </div>

    <hr>
    <div class="stuAcct">
        <h3>Upcoming Exams:</h3>
    </div>
    {% for reg in bookings %}
    {% if reg.session_status != 'Cancelled' %}
    <div class="reg">
        <section>
            <a href="{{url_for('exam', booking_id = reg.booking_id)}}">
                <h2> Exam: {{reg.exam_id}}</h2> <!-- Link for exam -->
            </a>
            <h3>Class: {{reg.exam_type}}</h3>
            <h4>Exam Date: {{reg.date.strftime('%B %d, %Y')}}</h4>
            <h4>{{reg.campus_name}} Campus</h4>
            <h4>Proctor: {{reg.proctor_first}} {{reg.proctor_last}}</h4>
            <p>Created at: {{reg.created_at}}</p>
        </section>
    </div>
    {% endif %}
    {% endfor %}

</main>

{% endblock %}