{% extends 'layout_auth_student.html' %}
{% block content %}
<main class="exams_body">
    <div class="exam_button">
        <a href="{{url_for('register_exam')}}">Register for a New Exam</a>
    </div>


    <section class="exam-details">
        {% if exam %}
        <div class="exam">
            <h1>Exam: {{exam.exam_type}} - {{exam.exam_id}} - {{exam.session_status}}</h1>
            <h2>Date: {{exam.date.strftime('%B %d, %Y')}}</h2>
            <h2>Time: {{exam.time}}</h2>
            <h2>Location: {{exam.campus_name}}, Bldg: {{exam.building}} {{exam.room_num}}</h2>
            <h2>Proctor: {{exam.proctor_first}} {{exam.proctor_last}}</h2>
            <h3>Status: {{exam.session_status}}</h3>
            <small>Created on: {{exam.created_at}}</small>

            <div class="exam_buttons">
                <form method="GET" action="{{ url_for('edit_exam', booking_id=exam.booking_id) }}">
                    <button type="submit" class="button edit-btn">Edit Registration</button>
                </form>
                <!-- was not sure if we need seperate forms for the buttons, made the delete form seperate just incase-->
                <form method="POST" action="{{ url_for('cancel_booking_route', booking_id=exam.booking_id) }}">
                    <button type="submit" class="button cancel-btn">Cancel Registration</button>
                </form>
            </div>
            </form>

        </div>
        {% endif %}
    </section>
</main>
{% endblock %}