{% extends 'layout.html' %}
{% block content %}
<main class="signup-body">
    <form class="signup-form" id="signupForm" method="post">

        <h2 style="text-align:center; font-size:300%; margin-bottom: 20px;">Sign up</h2>

        <label>Full Name</label>
        <input type="text" name="fullname" required>

        <label>Email</label>
        <input type="email" name="email" required>

        <label>Student ID Number</label>
        <input type="password" id="nshe_id" name="nshe_id" required>

        <label>Confirm Student ID Number</label>
        <input type="password" id="confirmed_nshe_id" name="confirmed_nshe_id" placeholder="Confirm Student ID Number"
            required>

        <button class="signup-button" type="submit"
            style="color:black; background-color:rgb(36, 120, 204);">Register</button>
    </form>
</main>

{% endblock %}